@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">More Information</h1>

<div>
    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plattform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plattform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tillverkare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tillverkare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ägare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ägare.ÄgareId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Ändra</a> |
    <a asp-action="Index">Go back</a>
</div>
