@model List<Event>
@{
    ViewData["Title"] = "Events";
}

<section class="eventlist">
    <header>
        <h2>Events</h2><a href="/Events/Create">Ny</a>
    </header>
    <section class="events">
        @foreach (var e in Model)
        {
            <article id="@e.Id">
                <h3>@e.Name</h3>
                <section class="infogrid">
                    <div>
                        <p><i class="fas fa-user-friends"></i> @e.Booking.Count/@e.TicketsMax</p>
                        <div class="progressbar"><span style="width: @e.BookedPercentage%;"></span></div>
                    </div>
                    <p><i class="fas fa-map-marker-alt"></i> @e.City</p>
                    <p><i class="fas fa-calendar-alt"></i> @e.Date</p>
                </section>
                <section class="moreinfo">
                </section>
                <nav>
                    <a href="" class="lbutton">
                        <i class="fas fa-angle-down"></i> Mer detaljer
                    </a>
                    <a href="/Event/Edit/@e.Id" class="rbutton">Redigera</a>
                    <a href="/Event/Products/@e.Id" class="rbutton">Produkter</a>
                </nav>
            </article>
        }
    </section>
</section>

